/* #region conteudo */
.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal__subtitulo {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.principal__bloco {
  padding: 0 20px;
  margin-bottom: 40px;
}

.principal__sessao {
  display: flex;
  flex-direction: column;
  margin-top: 92px;
}

.destaque {
  font-size: 24px;
  font-weight: bold;
}
/* #endregion*/

/* #region move-free */
.move-free {
  margin-top: 60px;
}

.move-free__texto {
  font-size: 23px;
}
/* #endregion */

/* #region compare-bikes*/

/* #endregion */

/* #region the-details */
.details__imagens {
  display: flex;
  gap: 20px;
}


/* #endregion */

/* #region buttons */
.explore {
  display: inline-block;
  background-color: #FFFFFF;
  color: #1D1D1D;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 56px;


  width: 278px;
  height: 56px;
  padding: 0;
}
/* #enderegion */